<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>
    
        <!-- <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/university</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">university_admin</property>
        <property name="connection.password">admin</property> -->
        
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>
        
        <mapping class="com.skorobahatko.university.domain.Course" />
        <mapping class="com.skorobahatko.university.domain.Lecture" />
        <mapping class="com.skorobahatko.university.domain.Student" />
        <mapping class="com.skorobahatko.university.domain.Teacher" />
        
    </session-factory>
    
</hibernate-configuration>