<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="applicationLogFile" value="log/application.log" />

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${applicationLogFile}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${applicationLogFile}.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="error">
		<appender-ref ref="fileAppender" />
	</root>

	<logger name="com.skorobahatko.university" level="info" additivity="false">
		<appender-ref ref="fileAppender" />
	</logger>

	<logger name="com.skorobahatko.university.dao" level="debug" additivity="false">
		<appender-ref ref="fileAppender" />
	</logger>

</configuration>