<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Timetables</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">University</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" th:href="@{/}">Home</a> <a
					class="nav-item nav-link" th:href="@{/courses}">Courses</a> <a
					class="nav-item nav-link" th:href="@{/students}">Students</a> <a
					class="nav-item nav-link" th:href="@{/teachers}">Teachers</a> <a
					class="nav-item nav-link active" th:href="@{/timetables}">Timetables</a>
			</div>
		</div>
	</nav>

	<br />

	<div class="container text-center w-50 p-2">
		<form method="GET" th:action="@{/timetables/participant}">
			<div class="form-group row">
				<label for="participantId" class="col-sm-6 col-form-label">Choose the Participant: </label> 
				<div class="col-sm-6">
				<select class="form-control" id="participantId" name="participantId">
					<option th:each="participant : ${participants}"
						th:value="${participant.getId()}"
						th:text="${participant.getFirstName()} + ' ' + ${participant.getLastName()}">
					</option>
				</select>
				</div>
			</div>
			
				<button type="submit" class="btn btn-primary mb-2">Get Timetable</button>
			
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>