<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Timetable</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">University</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" th:href="@{/}">Home</a> <a
					class="nav-item nav-link" th:href="@{/courses}">Courses</a> <a
					class="nav-item nav-link" th:href="@{/students}">Students</a> <a
					class="nav-item nav-link" th:href="@{/teachers}">Teachers</a> <a
					class="nav-item nav-link active" th:href="@{/timetables}">Timetables</a>
			</div>
		</div>
	</nav>

	<div class="container text-center w-75 p-3">

		<div class="justify-content-end text-right">
			<div class="btn-group" role="group" aria-label="Basic example">
				<form method="GET" th:action="@{/timetables/month}">
					<input id="participantId" name="participantId" 
						th:value="${participantId}" type="hidden" class="form-control" />
					<button type="submit" class="btn btn-secondary">Month</button>
				</form>
				
				<form method="GET" th:action="@{/timetables/day}">
					<input id="participantId" name="participantId" 
						th:value="${participantId}" type="hidden" class="form-control" />
					<button type="submit" class="btn btn-secondary">Day</button>
				</form>
			</div>
		</div>
		
		<br>

		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Lecture Name</th>
						<th scope="col">Lecture Date</th>
						<th scope="col">Lecture Start Time</th>
						<th scope="col">Lecture End Time</th>
						<th scope="col">Lecture Room Number</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="lecture, stat : ${timetable.getLectures()}">
						<td th:text="${stat.count}">1</td>
						<td th:text="${lecture.getName()}">Lecture Name</td>
						<td th:text="${lecture.getDate()}">Lecture Date</td>
						<td th:text="${lecture.getStartTime()}">Lecture Start Time</td>
						<td th:text="${lecture.getEndTime()}">Lecture End Time</td>
						<td th:text="${lecture.getRoomNumber()}">Lecture Room Number</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>